<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <form id="demo" action="" method="get">
        请选择应用系统：
        <br>
        <br>
        <label>
            <input type="radio" name="applicationSystem" value="1" checked>C管理平台</label>
        <label>
            <input type="radio" name="applicationSystem" value="2">云服务平台</label>
        <label>
            <input type="radio" name="applicationSystem" value="3">上药集团</label>
        <label>
            <input type="radio" name="applicationSystem" value="4">云商大健康系统</label>
    </form>
    <!--
    <script>
        var oDemo = document.getElementById("demo");
        oDemo.addEventListener('click', function() {
            var e = event || window.event;
            if (e.target && e.target.nodeName.toUpperCase() == "INPUT") {
                console.log(this);
                console.log(e.target);
                console.log(e.target.value);
            }
        }, false);
    </script>-->
</body>

</html>